SECRET_KEY=django-insecure-clsp-desarrollo-local-2025-cambia-en-produccion
DEBUG=True

DB_NAME=clsp_db
DB_USER=clsp_user
DB_PASSWORD=clsp_pass
DB_HOST=localhost
DB_PORT=5432

CORS_ORIGINS=http://localhost:3000

# Ruta a GDAL en Windows (ajusta la version exacta del dll)
GDAL_LIBRARY_PATH=C:/Program Files/PostgreSQL/15/bin/gdal.dll

# AWS S3 (opcional por ahora)
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_BUCKET=clsp-docs
